header{
         background-color:#B8F93E;
}

nav a{ 
       font-size:200%;
       border:3px solid #00B7ea;
       text-decoration:none;
       background:#F0FF33;
       transition-property:border-radius,background;
}
nav a:hover{
              border-radius:25%;
              font-size:400%;
              background:#abc453;
}
h2{
     color:#333CFF;
     background-color:#FAF39F;
}
h3{
     background:#d0d5fc;
}
ol{
    transition-property:font-size;
}
ol:hover{
          font-size:200%;
}
summary{
         color:#E61386;
}

              